{% extends "base.html" %}
{% load staticfiles %}
{% block body %}


{%  for q in questions %}

    <br>{% ifequal q.qtype 'C' %}
        <a href="{% url 'assignment:choice' q.assignment.subject q.assignment.pk q.no %}" style="margin-left:20px;">{{ q.no }}</a> 
    {% endifequal %}
    {% ifequal q.qtype 'M' %}
        <a href="{% url 'assignment:matching' q.assignment.subject q.assignment.pk q.no %}" style="margin-left:20px;">{{ q.no }}</a> 
    {% endifequal %}
    {% ifequal q.qtype 'O' %}
        <a href="{% url 'assignment:openended' q.assignment.subject q.assignment.pk q.no %}" style="margin-left:20px;">{{ q.no }}</a> 
    {% endifequal %}
  

{% endfor %}

    <!-- <div class="container con-dashboard">
        <div class="form-group">
            <div class="card" style="width: 95%">
                <div class="card-body">
                    <h5 class="card-title">1.อธิบายเกี่ยวกับภาษา Python</h5>
                    <p class="card-text">hint: โครงสร้าง ลักษณะภาษา ประสิทธิภาพ ฯลฯ</p>
                    <textarea class="form-control" name="" id="q1" cols="30" rows="10"></textarea>
                </div>
            <div class="card" style="width: 95%">
            <br>
            <div class="card" style="width: 95%">
                <div class="card-body">
                    <h5 class="card-title">2.ข้อไหนถูกต้อง</h5>
                    <p class="card-text">hint: โครงสร้าง ลักษณะภาษา ประสิทธิภาพ ฯลฯ</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="q2a" value="option1"
                            checked>
                        <label class="form-check-label" for="q2a">
                            ข้อนี้เกือบถูก
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="q2b" value="option2">
                        <label class="form-check-label" for="q2b">
                            ข้อนี้ถูกต้อง
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="q2c" value="option3">
                        <label class="form-check-label" for="q2c">
                            ข้อนี้ไม่ถูกต้อง
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <div class="card" style="width: 95%">
                <div class="card-body">
                    <h5 class="card-title">3.จับคู่ๆๆๆ</h5>
                    <p class="card-text">hint: จับมือไว้แล้วไปด้วยกัน</p>
                    <div class="row">
                        <div class="col-sm-1"><input class="form-control" name="" id="q3a"></div>
                        <div class="col-sm-5">1.exampletextexampletextexampletext</div>
                        <div class="col-sm-6">a.exampletextexampletextexampletext</div>
                    </div><br>
                    <div class="row">
                        <div class="col-sm-1"><input class="form-control" name="" id="q3b"></div>
                        <div class="col-sm-5">2.exampletextexampletextexampletext</div>
                        <div class="col-sm-6">b.exampletextexampletextexampletext</div>
                    </div><br>
                    <div class="row">
                        <div class="col-sm-1"><input class="form-control" name="" id="q3c"></div>
                        <div class="col-sm-5">3.exampletextexampletextexampletext</div>
                        <div class="col-sm-6">c.exampletextexampletextexampletext</div>
                    </div><br>
                </div>
            </div>
            <br>
            <button class="btn btn-primary">submiit</button>
        </div>
        <br>
    </div> --> 
{% endblock %}