{% extends "base.html" %}
{% load staticfiles %}
{% block body %}


<div class="card" style="width: 95%">
    <div class="card-body">
        <!-- <h5 class="card-title">{{matching.0.question.topic}}</h5> -->
        
        <div class="row">
            <div class="col-sm-1"><input class="form-control" name="" id="q3a"></div>
            <!-- <div class="col-sm-5">{{ forloop.counter }}. {{ c.txt }}</div> -->
            <div class="col-sm-6">a.exampletextexampletextexampletext</div>
        </div><br>
       
        <!-- <div class="row">
            <div class="col-sm-1"><input class="form-control" name="" id="q3b"></div>
            <div class="col-sm-5">2.exampletextexampletextexampletext</div>
            <div class="col-sm-6">b.exampletextexampletextexampletext</div>
        </div><br>
        <div class="row">
            <div class="col-sm-1"><input class="form-control" name="" id="q3c"></div>
            <div class="col-sm-5">3.exampletextexampletextexampletext</div>
            <div class="col-sm-6">c.exampletextexampletextexampletext</div>
        </div><br> -->
    </div>
</div>
  
{% endblock %}