{% extends "base.html" %}
{% load staticfiles %}
{% block body %}

    <div class="container con-dashboard">
        <h1>{{ sub.subject_code }}</h1>
        <h2>{{ sub.name }} </h2>
        <br>

        <h4>Assignment List</h4>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Start-Date</th>
                <th>End-Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
                {% for a in result %}
                    {% if a.0.publish %}         
                    <tr>
                        <td>{{a.0.name }}</td>
                        <td>{{a.0.start_date}}</td>
                        <td>{{a.0.end_date}}</td>
                        {% if a.1.finish %}
                            {% if a.1.check %}
                                <td>checked</td>
                                <td><a href="{% url 'assignment:do_assignment' sub.subject_code a.0.pk %}">View Score</a><td></td>
                            {% else %}
                                <td>available</td>
                                <td><a href="{% url 'assignment:do_assignment' sub.subject_code a.0.pk %}">Edit</a><td>
                            {% endif %}
                        {% else %}
                            <td>available</td>
                            <td><a href="{% url 'assignment:do_assignment' sub.subject_code a.0.pk %}">Do</a><td>
                        {% endif %}
                    </tr>
                    {% endif %}
                   

                   
                {% endfor %}
        </table>
    </div>
    {% endblock %}