{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
    <div class="container con-dashboard">
        <!-- ถ้าหากขึ้นแถวใหม่ ให้เปิดด้วย div class row-->
        <div class="row">
            {% for mem in member %}
            {% if mem.student.student_code == '590510590'%}
            <div class="col-md-4">
                <div class="card" style="width: 95%">
                    <div class="card-body">
                        <!-- <h3>{{mem.Student}</h3> -->
                        
                        <h5 class="card-title">{{mem.subject}}</h5>
                        <p class="card-text">Introduction CS</p>
                        <a href="{% url 'assignment:student_subject' %}" class="btn btn-primary" >View Subject</a>
                  
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <br>
            <!-- <img src="{% static 'img/img.png'%}" alt="">
            <div class="col-md-4">
                <div class="card" style="width: 95%">
                    <div class="card-body">
                        <h5 class="card-title">204111</h5>
                        <p class="card-text">Introduction CS</p>
                        <a href="#" class="btn btn-primary">View Subject</a>
                    </div>
                </div>
            </div> -->

            
        </div>
        <!-- end card row -->
       
        

    </div>
    
    {% endblock %}
