{% extends "base.html" %}
{% load staticfiles %}
{% block body %}

    <div class="container con-dashboard">
        <h1>{{ sub.subject_code }}</h1>
        <h2>{{ sub.name }} </h2>
        <br>

        <h4>Assignment List</h4>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Start-Date</th>
                <th>End-Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            {% for a in assignment %}
            <tr>
                <td>{{ a.name }}</td>
                <td>{{ a.start_date }}</td>
                <td>{{ a.end_date }}</td>
                {% if a.check %}
                <td>checked</td>
                <td><a href="{% url 'assignment:do_assignment' sub.subject_code a.pk %}">View Score</a><td></td>
                {% else %}
                <td>available</td>
                <td><a href="{% url 'assignment:do_assignment' sub.subject_code a.pk %}">DO</a><td>
                {% endif %}
            </tr>
            {% endfor %}
            <!-- <tr>
                <td>204111 Assignment #2</td>
                <td>20-03-2019</td>
                <td>21-04-2019</td>
                <td>subbmited</td>
                <td>Edit Answer</td>
            </tr>
            <tr>
                <td>204111 Assignment #3</td>
                <td>20-04-2019</td>
                <td>30-04-2019</td>
                <td>don't subbmited</td>
                <td>Answer Assignment</td>
            </tr> -->
        </table>
    </div>
    {% endblock %}